parameters:

application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenter\*Presenter

session:
	autoStart: always
	expiration: 14 days

di:
	export:
		parameters: no
		tags: no

extensions:
  # Common
  translation: Contributte\Translation\DI\TranslationExtension
  console: Contributte\Console\DI\ConsoleExtension(%consoleMode%)
  nettrine.annotations: Nettrine\Annotations\DI\AnnotationsExtension
  nettrine.cache: Nettrine\Cache\DI\CacheExtension
  nettrine.migrations: Nettrine\Migrations\DI\MigrationsExtension
  # DBAL
  nettrine.dbal: Nettrine\DBAL\DI\DbalExtension
  nettrine.dbal.console: Nettrine\DBAL\DI\DbalConsoleExtension

  # ORM
  nettrine.orm: Nettrine\ORM\DI\OrmExtension
  nettrine.orm.cache: Nettrine\ORM\DI\OrmCacheExtension
  nettrine.orm.console: Nettrine\ORM\DI\OrmConsoleExtension
  nettrine.orm.attributes: Nettrine\ORM\DI\OrmAttributesExtension

nettrine.orm:
  configuration:
    autoGenerateProxyClasses: %debugMode%

nettrine.orm.attributes:
  mapping:
   App\Model\Entity: %appDir%/Model/Entity

nettrine.orm.cache:
	defaultDriver: Doctrine\Common\Cache\PhpFileCache("%tempDir%/cache/nettrine.cache")

nettrine.migrations:
  table: doctrine_migrations
  directory: %appDir%/Migration
  namespace: App\Migration

translation:
	locales:
		whitelist: [en, cs]
		default: en
		fallback: [en]
	dirs:
		- %appDir%/Translation