parameters:

nettrine.dbal:
  debug:
    panel: %debugMode%
    sourcePaths: [%appDir%]
  connection:
        driver: pdo_mysql
        host: host
        user: user
        password: password
        dbname: databaseName