search:
	default:
		in: %appDir%
		classes:
			- *Factory
			- *Facade
			- I*Form

services:
	- App\Router\RouterFactory::createRouter
	security.passwords: Nette\Security\Passwords(::PASSWORD_BCRYPT, [cost: 12])
	- App\Services\User\UserService

